@charset "utf-8";
/* CSS Document */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family: 'STHeiti','Microsoft YaHei','宋体','arial'; background:#ffffff; color:#6b6b6b; font-size:14px;}
a{color:#6b6b6b;text-decoration:none;outline-style: none;}
a:hover{color:#333333;text-decoration:none;}.aline,a.aline,a.aline:hover { text-decoration:underline;}
li,dt,dd{list-style:none;vertical-align:bottom; margin:0px; padding:0px;}.cl { clear:both;}.fl { float:left;}.fr { float:right;}.fcDiv { margin-left:auto; margin-right:auto; clear:both;} .tr { text-align:right;}.tc { text-align:center;}.fb { font-weight:bold;} i { font-style:normal;}
img{border:0; margin:0px; vertical-align: middle;} .en { font-family:"Arial";} input,select { outline:none; border:0px; margin:0px; padding:0px; font-family: 'STHeiti','Microsoft YaHei','宋体','arial';}.font12 { font-size:12px;} .font16 { font-size:16px;}  .undis { display:none;} .posRel { position:relative;}.en { font-family:"Arial","微软雅黑";}.disIBlock { display:inline-block;} .mar_lr5 { margin:0px 5px;}.mar_r10 { margin-right:10px;} .line30 { line-height:30px;}
p,div,li {word-wrap:break-word;} .hr10 { height:10px; clear:both;} .hr15 { height:15px; clear:both;} .hr20 { height:20px; clear:both;}.hr30 { height:30px; clear:both;}.hrLine { height:10px; border-top:#d5d5d5 1px solid;}

.white,.white a,a.white { color:#ffffff; }.white a:hover,a.white:hover { color:#f6f6f6; }
.blue,.blue a,a.blue { color:#1896dc; }.blue a:hover,a.blue:hover { color:#0784ca; }
.red,.red a,a.red { color:#f0368a; }.red a:hover,a.red:hover { color:#dc2376; }
.red2 { color:#ff0000;}
.orange,.orange a,a.orange { color:#fd7822; }.orange a:hover,a.orange:hover { color:#f1670d; }
.black,.black a,a.black { color:#000000; }.black a:hover,a.black:hover { color:#222222; }
.gray,.gray a,a.gray { color:#d1d1d1; }.gray a:hover,a.gray:hover { color:#bbbbbb; }

/*------*/
.wrap { width:1280px; margin:0 auto; clear:both;}

.headerBar { width:100%; clear:both; height:75px; overflow:hidden; border-bottom:#ebebeb 1px solid;}
#header { width:1280px; margin:0 auto; clear:both; height:75px;}
.logo { display:block; float:left; width:260px; height:75px; text-indent:-999px; overflow:hidden; background:url(../images/logo.gif) no-repeat 0px 0px;}
#navBar { float:right; height:60px; padding:15px 60px 0px 0px;}
#navBar a { display:inline-block; height:60px; line-height:50px; font-size:15px; padding:0px 30px;}
#navBar a:hover,#navBar a.dq { background:url(../images/nav_dq.png) no-repeat center bottom;}

#footer { padding:20px 0px 40px 0px; text-align:center; background-color:#0173e5; line-height:24px; margin-top:40px;}

.tlBar { width:1280px; /*height:160px; */overflow:hidden; margin:0 auto;} .tlBar img {width:1280px; /*height:160px;*/}
.tlBarS_L { width:100%; /*height:160px; */overflow:hidden;} .tlBar img {width:100%;/* height:160px;*/}
 
.currentBarBg { width:100%; height:50px; background-color:#eceff4;}
.currentBar { width:1240px; margin:0 auto; height:28px; line-height:28px; padding:11px 0px 11px 40px; font-size:12px; background:url(../images/ico_current.gif) no-repeat left center;} .currentBar a { padding:0px 5px;}
.currentBar .current { float:left; margin:0px 10px; padding-left:14px; background:url(../images/ico_current2.gif) no-repeat left center;}
.currentBar .current span {background:url(../images/ico_current2.gif) no-repeat right center; display:inline-block; padding-right:13px;}

.colTit { height:35px; border-bottom:#d5d5d5 1px solid;height:33px; line-height:33px; }
.colTit .tit { display:inline-block; border-bottom:#0173e5 2px solid; padding:0px 8px; font-size:20px;}
.colTit .rTab { padding:0px 20px; float:right;}
/*-----index-------*/
.focusBarBg { width:100%; height:420px; background-color:#eceff4;}
.flashBox { width:1280px; height:420px; margin:0 auto; overflow:hidden; position:relative;}
.flashBox div.pic { display:none;  width:1280px; height:420px;}
.flashBox img { width:1280px; height:420px;}
.flashNum { width:1280px; height:25px; position:absolute; bottom:0px; left:0px; text-align:center; line-height:0px; font-size:0px; z-index:99;}
.flashNum  span { display:inline-block; width:12px; height:12px; line-height:10px; overflow:hidden; margin:0px 5px; text-align:center; cursor:pointer; background:url(../images/focus_numbg.png) no-repeat -18px 0px; }
.flashNum  span.on { background:url(../images/focus_numbg.png) no-repeat 0px 0px;}
.arrBtL,.arrBtR { width:44px; height:56px; display:block; position:absolute; top:180px; background-image:url(../images/arr.png); background-repeat:no-repeat; z-index:99; cursor:pointer;}
.arrBtL { background-position:0px 0px; left:10px;}
.arrBtR { background-position:0px -66px; right:10px;}

.indexSearch { width:260px; height:130px; padding:0px 10px; background-color:#daecf5; overflow:hidden; float:left; margin-right:15px;}
.indexSearch .tit { height:40px; line-height:40px; background:url(../images/index_ico.gif) no-repeat 0px 8px; padding-left:40px; font-size:18px; font-weight:bold; margin-top:5px;}
.indexSearch li { padding:5px 0px; line-height:28px;}
.indexTg_m { width:680px; height:145px; margin-top:-15px; float:left;}
/*.indexTg_m img { width:680px; height:145px;}*/
.indexTg_r { width:290px; height:130px; float:right;}
.indexTg_r img { width:290px; height:130px;}

.colTit_index { height:40px; clear:both; padding-left:70px; background:url(../images/index_colbg.gif) repeat-x center center;}
.colTit_index span.tit { display:inline-block; height:40px; line-height:40px;  background-color:#ffffff; padding:0px 15px; color:#000000; font-size:30px; font-weight:bold; }
.colBox_A { width:300px; padding:0px 0px; height:340px; overflow:hidden; float:left; line-height:26px; } 
.colBox_C { width:290px; padding:0px 0px; height:340px; overflow:hidden; float:right; line-height:26px; } 
.colBox_B { width:350px; padding:0px 15px; height:340px; overflow:hidden; float:left; line-height:26px; } 
.colBox_A ul.list,.colBox_C ul.list { margin:0px 10px; line-height:28px;}
ul.newsList1 li { padding:5px 0px;} ul.newsList1 li a { display:inline-block; /*height:26px;*/}
.colBox_A .tit,.colBox_C .tit { height:33px; font-size:18px;}
.icoHuo,.icoJing { display:inline-block; width:21px; height:26px; margin:0px 3px; background-image:url(../images/index_ico.gif); background-repeat:no-repeat;}
.icoJing { background-position:0px -40px;}
.icoHuo { background-position:-26px -40px;}

.zxBox_index {}
.zxBox_index .pic { width:75px; /*height:110px; */padding:5px 8px 0px 10px; margin:5px 10px; border:#dddddd 1px solid; float:left; overflow:hidden; text-align:center; line-height:25px; background-color:#ffffff; font-size:12px;}
.zxBox_index .pic2Box { width:100px; float:left; text-align:center;}
.zxBox_index .pic2 { width:70px; height:90px; margin:5px auto; clear:both; border:#dddddd 1px solid; position:relative;}
.zxBox_index .pic2 img { width:70px; height:90px; }
.zxBox_index .pic2 .ico { display:block; width:22px; height:13px; position:absolute; left:-1px; top:-1px; z-index:99; background:url(../images/ico_shenqing.gif) no-repeat 0px 0px;}

.zyBox_index { padding:5px 15px; margin-top:5px; height:150px; background-color:#eaf5f9;}
.zyBox_index ul.picList li { width:80px; float:left; text-align:center; padding:5px 0px;}
.zyBox_index ul.picList li  img { width:70px; height:85px; border:#dddddd 1px solid;}
ul.listVideo li { width:150px; float:left; text-align:center; padding:5px 5px; line-height:30px;}
ul.listVideo li  img { width:150px; height:85px;}

.index_2wei { width:155px; height:155px; padding:0px 10px; float:left; line-height:20px;}
.index_2wei img { width:95px; height:95px; display:block; margin:0 auto 5px auto; clear:both;}
/*------Channel-----*/
ul.listVideo2 li.picB { width:270px; text-align:center; padding:0px 10px; line-height:30px;}
ul.listVideo2 li.picB  img { width:270px; height:150px;}
ul.listVideo2 li.picS { width:135px; float:left; text-align:center; padding:0px 5px; line-height:30px;}
ul.listVideo2 li.picS  img { width:135px; height:85px;}

.wylxBt { display:block; width:90px; height:50px; padding:5px 0px; line-height:25px; font-size:20px; font-weight:bold; text-align:center; float:left; background:url(../images/woyaolx_bg.gif) no-repeat center center;}

.zhuanyeCX { padding:5px 17px; height:145px;}
.zhuanyeCX a.zyTop { display:inline-block; width:203px; text-align:center; padding:5px 0px; line-height:18px; margin:5px 5px; border:#d5d5d5 1px solid;}
.zhuanyeCX a.zyName { display:inline-block; padding:5px 10px; line-height:20px; margin:5px 5px; border:#d5d5d5 1px solid;}
.zhuanyeCX a.zyBg_1 { background-color:#e1e5ec;}
.zhuanyeCX a.zyBg_2 { background-color:#ece3e2;}
.zhuanyeCX a.zyBg_3 { background-color:#f1f0f0;}
.zhuanyeCX a.zyBg_4 { background-color:#ffffff;}
.zhuanyeCX a.zyBg_5 { background-color:#eaeaea;}
.zhuanyeCX a.zyBg_6 { background-color:#f1efef;}
.zhuanyeCX a.zyBg_7 { background-color:#f4f4f4;}

.yuanxiaoList { margin:15px 7px 10px 23px; height:141px; font-size:12px;}
.yuanxiaoList  li { width:110px; height:135px; border:#e2e2e2 3px solid; margin:0px 8px 0px 0px; float:left; position:relative; cursor:pointer;}
.yuanxiaoList  li img { width:110px; height:135px;}
.yuanxiaoList .tit { display:none; width:110px; height:25px; text-align:center; line-height:25px; background:url(../images/tit_bg.png) repeat 0px 0px; position:absolute; left:0px; top:60px; z-index:99;}
.yuanxiaoCon {margin:0px 15px; padding:15px 15px; height:190px;  line-height:28px; border-top:#e2e2e2 3px solid; border-right:#e2e2e2 1px solid; border-bottom:#e2e2e2 1px solid; border-left:#e2e2e2 1px solid;}
.yuanxiaoCon p { padding:8px 0px;}
.yuanxiaoCon .con { height:160px; overflow:hidden;}
.yuanxiaoTab { display:none; width:89px; height:8px; background:url(../images/tab.gif) no-repeat 0px 0px; position:absolute; left:10px; bottom:-16px; z-index:99;}
/*-------*/
.contentL { width:960px; float:left;}
.sideR { width:290px; float:right;}
.articleList { padding:10px 25px; background-color:#f8f8f8; clear:both;}
.articleList ul.list li { padding:20px 8px; border-bottom:#e5e5e5 1px solid; text-align:left;}
.articlePic { width:150px; height:120px; float:left;} .articlePic img {width:150px; height:120px;}
.articleTxt { margin-left:180px; line-height:22px;}
.articleTxt p.txt { padding:5px 0px;}
.articleList h2 { font-size:16px; font-weight:normal;}

.pages { height:25px; line-height:25px; padding:30px 0px; clear:both; text-align:center;}
a.page { display:inline-block; margin:0px 3px; height:25px; padding:0px 9px; background-color:#f8f8f8; font-family:"Arial"; border:#cbcbcb 1px solid;}
a.page:hover,a.pageDq {display:inline-block; margin:0px 3px; height:25px; padding:0px 9px; font-family:"Arial"; background-color:#fbb62b; color:#ffffff; border:#c78c14 1px solid;}
a.pagePre {  display:inline-block; margin:0px 3px; height:25px; padding:0px 10px 0px 25px; border:#cbcbcb 1px solid; background:url(../images/page_arr.gif) no-repeat left 0px;}
a.pageNext {  display:inline-block; margin:0px 3px; height:25px; padding:0px 25px 0px 10px; border:#cbcbcb 1px solid; background:url(../images/page_arr.gif) no-repeat right -36px;}
/*a.pagePre:hover,a.pageNext:hover {background-color:#fbb62b; color:#ffffff;}*/

.askBox { margin:12px 0px; clear:both; background-color:#daecf5; padding:10px 10px 5px 10px;}
.askBox li { line-height:35px; clear:both; }
.askInput { width:200px; height:20px; padding:3px 5px; overflow:hidden; background-color:#ffffff; float:left; color:#abacae;}
.submitBt { width:48px; height:26px; display:block; float:right; margin:0px; padding:0px; text-align:center; text-align:center; color:#ffffff; line-height:26px; border:0px; background:url(../images/submit_bt.gif) no-repeat center center; cursor:pointer;}

.sideBoxBg { background:#f1f8fb; padding:10px 10px 10px 12px; clear:both;}
.sideBoxBg .infoList li { line-height:22px; padding:5px 0px; clear:both; }
span.icoA,span.icoB { display:inline-block; width:14px; height:12px; line-height:12px; text-align:center; color:#ffffff;  font-family:"Arial"; font-size:12px; margin-right:5px; }
span.icoA { background-color:#fd7822;}
span.icoB { background-color:#56bdf3;}

.guwenBox { margin:5px 0px 15px 0px;}
.guwenBox .pic { width:75px; /*height:110px; */padding:5px 5px 0px 5px; border:#dddddd 1px solid; float:left; overflow:hidden; text-align:center; line-height:25px; background-color:#ffffff; font-size:12px;}
.guwenBox .pic img { width:75px; height:90px;}
.guwenBox .txt { width:150px; float:right; line-height:24px; }
a.zixunBt { display:block; clear:both; width:144px; height:28px; background:url(../images/zixun_bt.gif) no-repeat 0px 0px; margin:10px 0px;}

.ziliaoList { padding:0px 0px;}
.ziliaoList li { width:50%; float:left; padding:6px 0px; text-align:center; line-height:20px;}
.ziliaoList .pic,.listBoxS_picList .pic { width:70px; height:90px; margin:0px auto 2px auto; clear:both; border:#dddddd 1px solid; position:relative;}
.ziliaoList .pic img,.listBoxS_picList .pic img { width:70px; height:90px; }
.ziliaoList .ico,.listBoxS_picList .ico { display:block; width:22px; height:13px; position:absolute; left:-1px; top:-1px; z-index:99; background:url(../images/ico_shenqing.gif) no-repeat 0px 0px;}
.moreBt { display:inline-block; height:20px; padding:0px 5px; line-height:20px; background-color:#56bdf3;}

.sideRpic { margin:10px auto; clear:both;}
.sideRpic img { width:100%;}

.sideRcontact  li { line-height:24px; padding:5px 0px;}
.sideRcontact  .fl { width:60px; text-align:right; float:left;}
.sideRcontact  .fr { width:200px; float:right;}

h1 { font-size:24px; font-weight:normal; line-height:30px; text-align:center; clear:both; padding:45px 0px 20px 0px; color:#000000;}
.authorBar { height:50px; line-height:25px; text-align:center; margin:0px auto; position:relative;}
.authorBar .fl { width:65%;}
.content { padding:40px 0px; margin:0px 50px; border-top:#dddddd 1px solid; font-size:16px; line-height:30px;}
.content p { padding:10px 0px;}
.content img { max-width:100%;}
.icoZan { display:inline-block; height:25px; padding-right:25px; background:url(../images/ico_zan.gif) no-repeat right center; cursor:pointer; margin-right:10px;}

.share1 { display:block; width:94px; height:24px; overflow:hidden; background:url(../images/share_1.gif) no-repeat 0px 0px; float:left; position:absolute; z-index:999; left:66%; top:0px; cursor:pointer;}
.share1Show { display:block; width:94px; /*height:161px;*/ height:154px; float:left; padding-top:7px; background:url(../images/share_1.gif) no-repeat 0px -34px; position:absolute; z-index:999; left:66%; top:0px;}
.share1Show a { display:block; width:94px; height:24px; overflow:hidden; text-indent:-999px;}
.shareTop { width:100%; height:25px; display:block;}

.conPageBar { height:24px; padding:20px 0px 20px 170px;}
.share2 { height:24px; line-height:24px; float:right; width:230px; text-align:right;}
.share2 span { display:inline-block; width:100px; height:24px; line-height:24px; margin:0px 3px;}
.share2 a { display:inline-block; width:24px; height:24px; overflow:hidden; text-indent:-999px; margin:0px 3px; background-image:url(../images/share_2.gif); background-repeat:no-repeat; padding:0px; text-align:left;}
.share2 a.s0 { background:none;  text-indent:0px; width:auto;}
.share2 a.s1 { background-position:0px 0px;}
.share2 a.s2 { background-position:-29px 0px;}
.share2 a.s3 { background-position:-58px 0px;}
.share2 a.s4 { background-position:-87px 0px;}
.share2 a.s5 { background-position:-116px 0px;}
.conPages { width:460px; height:24px; text-align:center; line-height:24px; font-size:18px; float:left;}
.conPages  a,.conPages  span,.conPages .dq  { display:inline-block; margin:0px 8px; color:#8a9198;}

.plList { padding:15px 15px; clear:both;}
.plList li { padding:15px 0px; clear:both; border-bottom:#dddddd 1px solid;}
.plList .pic { width:50px; height:50px; float:left; border-radius:3px; overflow:hidden;}
.plList .pic img { width:50px; height:50px;}
.plList .txt { margin-left:70px; line-height:20px; color:#000000;}
.plCaozuo { padding:8px 0px; font-size:12px; line-height:14px;}
.plCaozuo .icoP { display:inline-block; height:14px; margin:0px 6px; background-image:url(../images/ico_pl.gif); background-repeat:no-repeat; padding-left:18px;}
.plCaozuo .p1 { background-position:0px center;}
.plCaozuo .p2 { background-position:-88px center;}
.plCaozuo .p3 { background-position:-186px center;}

.conNewsList { background-color:#f8f8f8; padding:15px 20px; clear:both;}
.conNewsList li { line-height:24px; padding:6px 0px; clear:both;}

.pingguTable { padding:15px 15px; background-color:#f1f8fb;}
.pingguTable label { padding-right:5px; display:block; float:left;}
.pingguTable td { padding:5px 5px; line-height:28px; text-align:left;}
.input1 { width:170px; height:22px; line-height:22px; padding:3px 5px; background-color:#ffffff; border:0px; margin:0px; color:#000000;  display:block; float:left;}
.input2  {/* width:137px; */height:28px; line-height:28px;  display:inherit; padding:0px 0px 0px 5px;-webkit-appearance: none; background:#ffffff url(../images/select_arr.png) no-repeat right center; color:#000000; border:0px; margin:0px; border-radius: 0px; outline: 0; float:left;  }
.submitBt2 { display:inline-block; width:90px; height:26px; text-align:center; line-height:26px; color:#ffffff; border-radius:3px; background-color:#1896dc; cursor:pointer;}
.submitBt3 { display:inline-block; padding:0px 30px; font-size:16px; height:36px; text-align:center; line-height:36px; color:#ffffff; border-radius:3px; background-color:#1896dc; cursor:pointer;}

.input3 {  height:22px; line-height:22px; padding:3px 5px; background-color:#ffffff; border:#dddddd 1px solid; margin:0px; color:#333333; }
.tdLineB { border-bottom:#cccccc 1px dashed;}
.pingguTable2 { margin:0 auto; clear:both;}
.pingguTable2 td { padding:10px 5px;}
.pingguTable2 select { border:#dddddd 1px solid; height:26px; line-height:26px; padding:0px 0px 0px 5px;}
/*----Search----*/
.searchBox { padding:12px 30px; background-color:#f1f8fb; height:90px; overflow:hidden; margin-top:10px; line-height:26px;}
.searchBox li { padding:8px 0px; clear:both;}
.inputSearch { height:22px; line-height:22px; padding:3px 5px; /*width:350px;*/ background-color:#ffffff;}
.btSearch { display:inline-block; width:34px; height:28px; background:url(../images/bt_search.gif) no-repeat 0px 0px; margin:0px 5px;}
.searchBox a,.searchBox span {/* display:inline-block; */margin:0px 5px;}
.searchBox .tag { display:inline-block; margin:0px 5px; padding:0px 10px; height:26px; color:#000000;}
.searchBox a.tag:hover,.searchBox .tagOn,.searchBox .tagOn:link { display:inline-block; margin:0px 5px; padding:0px 10px; height:26px; background-color:#56bdf3; border-radius:3px; color:#ffffff;}

.yxList li { padding:15px 5px; clear:both; border-bottom:#e4e4e4 1px dashed;}
.yxList .pic { width:130px; float:left;} .yxList .pic img { width:100px; height:100px; border:#dddddd 1px solid;}
.yxList .txt1 { width:480px; float:left;  line-height:30px;}
.yxList .txt2 { width:310px; float:right;  line-height:22px; font-size:12px; text-align:right;}
.yxList .btXiangqing { display:inline-block; margin-top:-20px; width:90px; height:30px; border-radius:3px; text-align:center; line-height:30px; background-color:#45b3e4; color:#ffffff;}
.yxList h2 { font-size:18px; font-weight:normal;}

.icoStarBox { display:inline-block; width:95px;}
.icoStar { height:10px; display:inline-block; background:url(../images/star.png) no-repeat left center;}
.star1 { width:11px;}
.star2 { width:22px;}
.star3 { width:33px;}
.star4 { width:44px;}
.star5 { width:55px;}

/*--------*/
.daxueBox { padding:20px 15px; background-color:#f1f8fb;  overflow:hidden; line-height:26px;}
.daxueBox .pic { width:110px; float:left; margin-right:20px;} .daxueBox .pic img { width:110px;}
.daxueBox .txt { /*margin-left:130px;*/ width:760px; float:left;}
.daxueBox h2 {font-size:20px; font-weight:normal; line-height:20px;}
.daxueBox .nameEn { font-size:14px; line-height:20px; padding-bottom:10px; clear:both;}
.tyButton { display:inline-block; padding:0px 20px; height:30px; border-radius:3px; text-align:center; line-height:30px; background-color:#45b3e4; color:#ffffff;}

.daxueBox2 { padding:10px 20px; border:#dddddd 1px solid; overflow:hidden; line-height:26px;}
.daxueBox2 .pic { width:210px; float:left; margin-right:25px; padding:10px 0px;} .daxueBox2 .pic img { width:210px; height:150px;}
.daxueBox2 .txt1 { width:230px; float:left; margin-right:35px; overflow:hidden; padding:10px 0px;}
.daxueBox2 .txt2 { width:380px; float:left; overflow:hidden; line-height:24px; margin-top:-15px; padding:10px 0px;}
.daxueBox2 .tit { padding:8px 0px 8px 0px;}

.QandA  li { padding:10px 0px 10px 0px; border-bottom:#dddddd 1px solid; line-height:24px;}
.QandA  li:last-child { padding:10px 0px 10px 0px; border-bottom:none;}
.QandA .icoQ { padding-left:28px; background:url(../images/ico_qa.gif) no-repeat 0px 2px; padding-bottom:10px; font-size:16px;}
.QandA .icoAnswers { padding-left:28px; background:url(../images/ico_qa.gif) no-repeat 0px -68px;}

.listBoxS { width:465px; height:330px; overflow:hidden;}
.listBoxS_top { height:105px; padding:25px 0px 10px 0px;}
.listBoxS_top .picTit { width:110px; text-align:center; float:left;}
.listBoxS_top .picTit img { width:90px; height:90px;}
.listBoxS_top .txt { width:340px; float:right; padding:0px 10x 0px 0px;}
.listBoxS_top .txt h2 { font-size:20px; font-weight:normal; padding-bottom:10px;}
.listBoxS_picList { margin-top:-10px;}
.listBoxS_picList li { width:25%; float:left; text-align:center;}
.listBoxS ul.list li { line-height:30px; clear:both;}
.cailiaoList li { padding-right:10px;}
.cailiaoList li:nth-of-type(odd) { background-color:#f4f9fc;}
.icoLi { display:inline-block; width:16px; height:16px; margin:7px 10px; float:left; background-image:url(../images/ico_li.gif); background-repeat:no-repeat;}
.icoLi_1 { background-position:0px 0px;}
.icoLi_2 { background-position:0px -26px;}
.icoLi_3 { background-position:0px -52px;}
.icoLi_4 { background-position:0px -78px;}

.daxue_infoR { background-color:#f1f8fb; width:100%; overflow:hidden; font-size:12px;}
.daxue_infoR .infoTop { height:100px; padding:15px 10px; text-align:center; line-height:20px;}
.infoName { height:30px; font-size:14px; font-weight:bold;}
.daxue_infoList li { background-color:#daecf5; height:46px; padding:7px 0px; float:left; line-height:23px; text-align:center;}
.daxue_infoList li.li_1 { width:96px; margin-right:1px;}
.daxue_infoList li.li_2 { width:96px; margin-right:1px;}
.daxue_infoList li.li_3 { width:96px;}

.sideRgwZxList  li { padding:12px 0px 12px 10px; border-bottom:#dddddd 1px solid; clear:both;}
.sideRgwZxList .pic { width:75px; /*height:110px; */padding:5px 5px 0px 5px; border:#dddddd 1px solid; float:left; overflow:hidden; text-align:center; line-height:20px; background-color:#ffffff; font-size:12px;}
.sideRgwZxList .pic img { width:75px; height:90px;}
.sideRgwZxList .txt { width:170px; float:right; line-height:24px; }

.sideRanliList {}
.sideRanliList  li { width:50%; height:135px; padding:5px 0px; overflow:hidden; float:left; text-align:center; line-height:30px; font-size:12px;}
.sideRanliList img { width:105px; height:105px; border:#dddddd 1px solid; display:block; margin:0 auto; clear:both;}
.indexR_yasi  li { width:125px; height:114px; padding:5px 10px 5px 10px; overflow:hidden; float:left; line-height:16px; font-size:12px;}
.indexR_yasi img { width:110px; height:80px; border:#dddddd 1px solid; margin-bottom:2px; display:block; clear:both;}
